.w-carousel {
    width: 100%;
    min-height: 250px;

    aspect-ratio: 16/4;

    position: relative;
    isolation: isolate;
}

.w-carousel .items {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.w-carousel .items .item {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0; left: 0%;

    transition: left 1s;
}
.w-carousel .items .item.slide-active {left: 0%; z-index: 1;}
.w-carousel .items .item.slide-prev {left: -100%; z-index: 1;}
.w-carousel .items .item.slide-next {left: 100%; z-index: 0;}
.w-carousel .items .item.slide-prev-2 {left: -100%; z-index: 0;}
.w-carousel .items .item.slide-next-2 {left: 100%; z-index: 1;}

.w-carousel .items .item img {
    position: absolute;
    top: 0; left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.w-carousel .items .item .details {
    display: flex;
    flex-direction: column;
    justify-content: end;

    position: absolute;
    top: 0; left: 0;
    width: 35%;
    height: 100%;

    padding: 2rem;
    box-sizing: border-box;

    isolation: isolate;
}

.w-carousel .items .item .details::before {
    content: "";

    position: absolute;
    top: 0; left: 0;
    width: 150%; height: 100%;
    z-index: -1;

    background: linear-gradient(90deg, rgba(var(--bs-body-bg-rgb),1) 0%, rgba(var(--bs-body-bg-rgb),1) 70%, rgba(var(--bs-body-bg-rgb),0) 100%);
}

.w-carousel .items .item .details .title {
    font-size: 28px;
    font-weight: 700;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.w-carousel .items .item .details .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.w-carousel .items .item .details a.watch-button {
    display: flex;
    gap: .5rem;
    align-items: center;

    text-decoration: none;
    color: #fff;

    padding: .5rem 1rem;
    border-radius: 50px;

    background-color: var(--bs-primary);
    transition: background-color 250ms;
}
.w-carousel .items .item .details a.watch-button:hover {background-color: var(--primary-hover-subtle-bg);}

.w-carousel .items .item .details a.watch-button i {display: grid; margin-bottom: 1px;}

.w-carousel .items .item .details a.details-button {background-color: var(--bs-secondary);}
.w-carousel .items .item .details a.details-button:hover {background-color: var(--secondary-hover-subtle-bg);}


.w-carousel .control {
    display: flex; gap: .5rem;
    flex-direction: column;

    position: absolute;
    bottom: 1rem; right: 1rem;
    z-index: 1;
}

.w-carousel .control button.control-button {
    padding: .5rem;

    border: none;
    border-radius: .25rem;

    font-size: 18px;

    background-color: var(--bs-tertiary-bg);

    cursor: pointer;
    transition: background-color 250ms;
}
.w-carousel .control button.control-button:hover {background-color: var(--tertiary-hover-subtle-bg);}
.w-carousel .control button.control-button i {display: grid;}




@media only screen and (max-width: 1400px) {
    .w-carousel .item .details .other-info {display: none;}
}

@media only screen and (max-width: 950px) {
    .w-carousel .item .details {
        width: 100% !important;
        padding: 1rem !important;
    }

    .w-carousel .item .details::before {
        background: rgba(var(--bs-body-bg-rgb),.6) !important;
    }

    .w-carousel .item .details .description {display: none !important;}
}