.w-header {
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    height: 60px;
    background-color: var(--bs-tertiary-bg);
}

.w-header .logo {
    color: var(--bs-body-color);
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.w-header .right {
    margin-left: auto;
}

.w-header .account {
    display: flex;
    align-items: center;
    gap: .5rem;

    height: 60px;
    padding: 0 1rem;

    border: none;
    background-color: transparent;
    font-size: 16px;

    position: relative;

    cursor: pointer;
}
.w-header .account:hover {
    background-color: var(--tertiary-hover-bg);
}

.account-dropdown {
    display: none;

    position: absolute;
    top: 70px; right: 10px;
    z-index: 1;

    width: min(300px, 100%);
    padding: .5rem 0;
    box-sizing: border-box;

    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
    border-radius: .5rem;
}
.account-dropdown.show {
    display: block;
}

.account-dropdown > p {
    padding: 0 .5rem;
}

.account-dropdown .account-dropdown-item-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    margin: .5rem 0;
    
    padding: 0 .5rem;
}

.account-dropdown .account-dropdown-item-list .account-dropdown-item {
    display: flex;
    gap: .5rem;
    align-items: center;

    padding: .75rem 1rem;
    width: 100%;
    box-sizing: border-box;

    font-size: 16px;
    color: var(--bs-body-color);
    text-decoration: none;

    border-radius: 50px;
    background-color: var(--bs-secondary-bg);
}

.account-dropdown .logout {
    display: flex; gap: .5rem;
    align-items: center;
    justify-content: end;

    padding: .5rem .75rem;
    width: 100%;
    box-sizing: border-box;

    border: none;
    background-color: transparent;

    color: var(--bs-secondary-color);
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;
}
.account-dropdown .logout:hover {color: var(--bs-body-color);}