.pagination-list {
    display: flex;

    border: 1px solid var(--bs-border-color);
    border-radius: .5rem;

    overflow: hidden;
}

.pagination-list .pagination-item {
    padding: .5rem .75rem;

    color: var(--bs-body-color);
    text-decoration: none;
}
.pagination-list .pagination-item:not(:last-of-type) {border-right: 1px solid var(--bs-border-color);}
.pagination-list .pagination-item:hover, .pagination-list .pagination-item:focus {
    background-color: var(--bs-tertiary-bg);
}

.pagination-list .pagination-item.active {
    background-color: var(--bs-primary);
}

.pagination-list .pagination-item.pagination-item-fi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-list .pagination-item i {
    display: grid;
}