.w-spinner {
    width: 20px;
    aspect-ratio: 1;

    border-radius: 50px;

    border: 2px solid var(--bs-body-color);
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;

    animation: wspinner 1s infinite linear;
}

@keyframes wspinner {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

.w-spinner.w-spinner-size-2 {
    width: 40px;

    border: 3px solid var(--bs-body-color);
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.w-spinner.w-spinner-size-3 {
    width: 60px;

    border: 4px solid var(--bs-body-color);
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
}