a.no-a {
    text-decoration: none;
    color: var(--bs-body-color);
}

.cu-pointer {cursor: pointer;}

.one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}