.watchlist-dropdown {
    position: relative;
}

.watchlist-dropdown .dropdown {
    display: none;

    position: absolute;
    top: calc(100% + .5rem);
    right: 0; width: 200px;
    z-index: 1;

    background-color: var(--bs-body-bg);
    border-radius: .5rem;
    border: 2px solid var(--bs-border-color-translucent);

    padding: .5rem 0;
}
.watchlist-dropdown .dropdown.show {display: block;}

.watchlist-dropdown .dropdown .dropdown-item {
    padding: .25rem .5rem;
    width: 100%;
    box-sizing: border-box;

    font-size: 16px;
    text-align: start;
    color: var(--bs-body-color);

    border: none;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 250ms;
}
.watchlist-dropdown .dropdown .dropdown-item:hover {background-color: var(--tertiary-hover-subtle-bg);}
.watchlist-dropdown .dropdown .dropdown-item.active {background-color: var(--bs-primary);}

.watchlist-dropdown .dropdown .dropdown-item.separator {
    background-color: transparent;
    position: relative;
    height: 15px;
}
.watchlist-dropdown .dropdown .dropdown-item.separator::before {
    content: "";

    position: absolute;
    top: 50%; left: .5rem;
    border: 1px solid var(--bs-border-color);

    width: calc(100% - 1rem);
    box-sizing: border-box;
}