.w-episodes {
    display: flex;
    gap: .25rem;

    width: max-content;

    border-radius: .5rem;
    overflow: hidden;
}

.w-episodes .episode {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 17px;
    padding: .25rem .5rem;

    background-color: var(--bs-secondary-bg);
}