.watch-episodes {
    background-color: var(--bs-secondary-bg);

    border-radius: .5rem;
    padding: .5rem 0;

    display: flex;
    flex-direction: column;

    overflow: auto;
}
.watch-episodes.grid {
    display: grid; gap: .25rem;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    padding: .5rem;
}

.watch-episodes.list button {
    background-color: transparent;
    border: none;
    border-radius: 0;

    padding: .5rem .5rem;
    position: relative;

    text-align: start;
    font-size: 16px;
    font-weight: 500;

    background-color: var(--bs-tertiary-bg);

    cursor: pointer;
    transition: background-color 250ms;
}
.watch-episodes.list button:hover {background-color: var(--tertiary-hover-s0ubtle-bg);}
.watch-episodes.list button.active {background-color: var(--bs-success);}
.watch-episodes.list button p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.watch-episodes.list button p.number {
    color: var(--bs-secondary-color);

    position: absolute;
    top: 50%; left: .5rem;
    transform: translateY(-50%);
}

.watch-episodes.list button p.text {margin-left: 30px;}

.watch-episodes.grid button {
    border: none;
    border-radius: .25rem;

    background-color: var(--bs-tertiary-bg);

    padding: .25rem 0;
    box-shadow: 0 0 5px 0 #00000000;

    cursor: pointer;
    transition: background-color 250ms, box-shadow 250ms;
}
.watch-episodes.grid button:hover {background-color: var(--tertiary-hover-subtle-bg); box-shadow: 0 0 5px 0 #0000004d;}
.watch-episodes.grid button.active {background-color: var(--bs-success); box-shadow: 0 0 5px 0 #0000004d;}