@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

@import url("colors.css");
@import url("modules/utils.css");

@import url("modules/header.css");
@import url("modules/animecard.css");
@import url("modules/carousel.css");
@import url("modules/spinner.css");
@import url("modules/popups.css");
@import url("modules/episodearray.css");
@import url("modules/buttons.css");
@import url("modules/input.css");
@import url("modules/watchlist-dropdown.css");
@import url("modules/watch-episodes.css");

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

body {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}
body.disable-scroll {overflow: hidden;}

.selectable {
    user-select: text;
}